<li class="search-result">
    <div class="result-content">

      <p>
        <a href="<%= url %>"><%= title %></a> | <%= keywords %>
        <br>
        <span class="description"><%= description %></span>
      </p>

      </ul>
    </div>
  </li>
