<li class="search-result">
    <div class="result-content">

      <p>
        <a href="<%= url %>"><%= title %></a>
        <br>
        <span class="description"><%= description %></span>
      </p>
    </div>
  </li>
