#content-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#tweets-container {
  float: left;
  height: 100%;
  width: 40%;
}

.tweet-container {
  width: 90%;
  padding: 12px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}

.profile-pic {
  border-radius: 50%;
}

.target-name {
  display: inline-block;
}

.target-handle {
  display: inline-block;
}

.keyword {
  height: 25px;
  padding: 0 8px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1A237E;
}

.active-keyword {
  height: 25px;
  padding: 0 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
}

#search-results-container {
  float: right;
  height: 100%;
  width: 50%;
}

.search-result-container {
  height: 100%;
  width: 90%;
  padding: 12px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
}

#search-result-link {
}

#search-result-description {
}

#search-result-tweet-to {
  font-style: italic;
}
