#content-container {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 5px;
  background-color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#tweets-container {
  float: left;
  width: 550px;
}

.tweet-container {
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
}

.tweet-content-container {
  width: 475px;
  text-align: left;
  padding-left: 8px;
  margin: 0 0 0 45px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.target-name, .target-handle {
  font-size: 16px;
  margin: 0 15px 5px 0;
  display: inline-block;
}

.target-name {
  font-weight: 600;
}

.target-handle {
  color: #9B9B9B;
  font-weight: 400;
}

.tweet-content {
  font-size: 20px;
  position: relative;
}

.tweet-text {
  margin: 0 0 5px 0;
  font-weight: 400;
}

.tweet-date {
  color: #9B9B9B;
  font-size: 16px;
  margin: 35px 0 0 0;
}

.tweet-link {
  color: #0071A8;
  font-weight: 400;
  text-decoration: none;
}

.tweet-link:hover {
  color: #A32200;
}

.reply-button {
  right: 0;
  bottom: 0;
  width: 80px;
  height: 30px;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  position: absolute;
  border-radius: 5px;
  background-color: #004567;
}

.reply-button:hover {
  background-color: #0071A8
}

.keyword-cloud {
  margin: 25px 0 19px 0;
}

.keyword {
  height: 40px;
  outline: none;
  color: #A32200;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  margin: 0 12px 16px 0;
  background-color: white;
  border: 1px solid #A32200;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.active-keyword {
  height: 40px;
  color: white;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  margin: 0 12px 16px 0;
  background-color: #A32200;
  border: 1px solid #A32200;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*.active-keyword-lite {
  opacity: 0.9;
  height: 40px;
  color: white;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  margin: 0 12px 16px 0;
  background-color: #F8463E;
  border: 1px solid #F8463E;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

.keyword-tracker {
  color: white;
  height: 40px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  display: inline-block;
  margin: 0 12px 16px 0;
  background-color: #A32200;
  border: 1px solid #A32200;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#search-results-container {
  float: right;
  width: 650px;
}

.search-result-container {
  margin-bottom: 30px;
}

#search-result-link {
  color: #0071A8;
}

#search-result-link:hover {
  color: #A32200;
}
