body {
  background-color: #E8EAF6;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3F51B5;
}

#search-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#search-bar {
  width: 200px;
  height: 25px;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search-button {
  height: 25px;
  padding: 0 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1A237E;
}


#temporary-container {
  padding-top: 100px;
}

#link-search-container {
  border: 5px solid black;
  position: absolute;
  top: 300px;
  width: 350px;
}
