body {
  background-color: #E8EAF6;
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3F51B5;
  z-index: 1;
}

#top-container {
  height: 800px;
  width: 100%;
  margin-top: 100px;
  background-image: url("brumbikiBackground.png");
  background-size: 100%;
  z-index: -1;
}

#welcome-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

#divider {
  height: 1px;
  width: 100%;
  margin-bottom: 60px;
  background-color: grey;
}
