body {
  background-color: #E8EAF6;
  width: 100%;
  margin: 0;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3F51B5;
  z-index: 1;
}

/*#welcome-container {
  height: 500px;
  background-color: red;
  width: 100%;
  text-align: center;
}*/

#top-container {
  width: 100%;
  margin-top: 100px;
}

#one-degree-button-container {
  display: none;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: red;
}

#one-degree-drawing-container {
  display: none;
  position: relative;
  width: 100%;
  height: 500px;
  background-color: red;
}

#current-target-container {
  margin: 80px;
  float: left;
}

#third-degree-container {
  float: right;
  margin: 80px;
  width: 100px;
}

.profile-circles {
  margin-bottom: 60px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

#divider {
  height: 50px;
  width: 100%;
  background-color: #3F51B5;
}

#search-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#search-bar {
  width: 200px;
  height: 25px;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search-button {
  height: 25px;
  padding: 0 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1A237E;
}

#content-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#tweets-container {
  float: left;
  left: 30%;
  width: 50%;
  height: 100%;
  background-color: white;
}

#search-results-container {
  float: right;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d2d2d2;
}

#link-search-container {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.active-keyword {
  border: 1px solid red;
}

.tweet {
  border: 1px solid red;
}
