#one-degree-button-container {
  height: 200px;
  width: 100%;
  display: none;
  position: relative;
}

#one-degree-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  height: 30px;
  width: 200px;
  padding: 8px 16px;
  position: relative;
  top: calc(50% + 15px);
  left: calc(50% - 100px);
  transform: translateY(-50%);
  text-align: center;
}

#one-degree-drawing-container {
  height: 500px;
  width: 80%;
  display: none;
  position: relative;
  margin: auto;
}

#current-container {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

#target-container {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

#primary-container {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

#secondary-container {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

#tertiary-container {
  height: 100%;
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

.twitter-user {
  height: 65px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
}

.profile-circles {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.twitter-user-info {
  margin: 10px;
  padding: 0;
  clear: right;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

#twitter-user-name {
  font-size: 24px;
  font-weight: bold;
}

#twitter-user-handle {
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

#twitter-user-handle a {
  text-decoration: none;
}
