#one-degree-button-container {
  display: none;
  position: relative;
  width: 100%;
  height: 200px;
}

#one-degree-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  height: 30px;
  width: 200px;
  padding: 8px 16px;
  position: relative;
  top: calc(50% + 15px);
  left: calc(50% - 100px);
  transform: translateY(-50%);
  text-align: center;
}

#one-degree-drawing-container {
  display: none;
  position: relative;
  width: 100%;
  height: 500px;
}

#current-container {
  margin: 80px;
  float: left;
  width: 100px;
}

.user-type-container{
  display: inline
}

#target-container {
  margin: 80px;
  width: 150px;
}

#primary-container {
  margin: 80px;
  width: 150px;
  background-color: blue;
}

#secondary-container {
  margin: 80px;
  width: 150px;
  background-color: red;
}

#tertiary-container {
  margin: 80px;
  width: 250px;
  background-color: yellow;
}

.profile-circles {
  margin-bottom: 60px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
