<nav>
  <div id="search-container">
    <input id="search-bar" name="search-bar" type="text" placeholder="@username">
    <input id="search-button" type="submit" value="Go!">
  </div>
</nav>

<div id="temporary-container">
</div>
