<nav>
  <% if current_user %>
  <span class="navbar-text navbar-right">Signed in as <%=current_user.name %></span>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/auth/twitter">Login with Twitter</a>
  <% end %>

  <div id="search-container">
    <input id="search-bar" name="search-bar" type="text" placeholder="@username">
    <input id="search-button" type="submit" value="Go!">
  </div>
</nav>

<div id="one-degree-container">
  <button id="one-degree-button">See Your Web of Influence</button>
  <div id="one-degree-drawing">
  </div>
</div>

<div id="link-search-container">
  <input id="link-search-bar" name="search-bar" type="text" placeholder="search content">
  <input id="link-search-button" type="submit" value="Go!">
</div>

<div id="wrapper">
  <div id="tweets-container">
  </div>
  <div id="search-results-container">
  </div>
</div>
