<div id="top-container">
  <i id="pointer-arrow" class="fa fa-arrow-up floating"></i>
  <div id="welcome-container">
    <h3>Welcome to</h3>
    <h1>brumbiki</h1>
    <h4>Enter a Twitter handle to begin expanding your network and exploring what's meaningful to you</h4>
  </div>

  <div id="one-degree-button-container">

    <% if current_user %>
      <!-- <div id="one-degree-button"> -->
        <button id="one-degree-button" class="hatch">Brumbiki found others to include in the conversation!</button>
      <!-- </div> -->
    <% else %>
      <button id="login">Please login to see your Brumbiki!</button>
    <% end %>

  </div>

  <div id="one-degree-drawing-container">
    <div id="minimize-button"><a href="">-</a></div>

    <div class="type-containers" id="target-container">
      <h4 class="type-text-left">This is your target user. BANG BANG!</h4>
    </div>
    <div class="type-containers" id="primary-container">
      <h4 class="type-text-right">Your target has mentioned someone in a tweet that currently follows you!</h4>
    </div>
    <div class="type-containers" id="secondary-container">
      <h4 class="type-text-left">Your target is following someone that is currently following you!</h4>
    </div>
    <div class="type-containers" id="tertiary-container">
      <h4 class="type-text-right">These are the top 3 most mentioned users by your target.</h4>
    </div>
  </div>
</div>

<div id="bottom-container">
  <!-- <div id="keyword-container"></div> -->
  <div id="content-container">
    <div id="tweets-container"></div>
    <div id="search-results-container"></div>
  </div>
</div>
