<div id="top-container">
  <div id="welcome-container">
    <h1>brumbiki</h1>
    <h3>WELCOME</h3>
    <h5>This application will help you set the table for thoughtful conversation with people you hope to interact with.</h5>
  </div>

  <div id="one-degree-button-container">
    <button id="one-degree-button">See Your Web of Influence</button>
  </div>

  <div id="one-degree-drawing-container">
    <div class="user-type-container" id="current-container"></div>
    <div class="user-type-container" id="target-container"></div>
    <div class="user-type-container" id="primary-container"></div>
    <div class="user-type-container" id="secondary-container"></div>
    <div class="user-type-container" id="tertiary-container"></div>
  </div>
</div>

<div id="divider"></div>

<div id="content-container">
  <div id="tweets-container"></div>
  <div id="search-results-container"></div>
</div>
